{% extends 'bases/index.html' %}

{% block content %}

<div>
    <div class="list-group" id="list-tab" role="tablist">
        <nav class="navbar navbar-expand-md navbar-light" style="background:#2a4925;align:center">

            <h4  style="margin-left:20px;color:orange">
               School of  {{schools.school_name}} </h4>


            <a id="list-user-list" data-toggle="list" style="margin-left:20px"
               href="#list-user" role="tab" aria-controls="user" class="nav-item nav-link">
                <i style="color:white;margin-right:9px" class="fa fa-home"></i>My School </a>



            <a id="list-display-list" data-toggle="list" style="margin-left:20px"
               href="#list-display" role="tab" aria-controls="display" class="nav-item nav-link ">
                <i style="color:white;margin-right:9px" class="fa fa-list"></i>Students & Supervisor List</a>



            <a id="list-ongoing_project-list" data-toggle="list" style="margin-left:20px"
               href="#list-ongoing_project" role="tab" aria-controls="ongoing_project" class="nav-item nav-link ">
                <i style="color:white;margin-right:9px" class="fa fa-tasks"> </i>Ongoing Projects</a>



            <a id="list-progress-list" data-toggle="list" style="margin-left:20px"
               href="#list-progress" role="tab" aria-controls="progress" class="nav-item nav-link ">
               <i style="color:white;margin-right:9px" class="fa fa-spinner"></i> Department Progress</a>

        </nav>
    </div>
</div>





        <div class="card" style="margin-top:30px;margin-left:30px;margin-right:10px">
            <div class="card-body" >
                <a href="#" style="float:right;margin-right:9px"><i style="color:red;" class="fa fa-plus"></i>
                Add department</a>

                    <h1 style="margin-left: 40px;font-weight: bold;">Departments :
                        <i style="background:green;color:#f0b46c;padding:5px;border-radius:39px;font-size:16px;margin-left:3px">{{depart_count}}</i></h1>


                    {% for department in departments %}

                    <div class="card" style="background:#d4dbe3;">

                          <div class="row">
                              <div class="col">
                              <div class="card border-primary mb-3" style="margin:12px 0px 5px 9px">
                                <div class="card-header" style="color:#132eac;font-weight:bold">
                                    <h5> Department of {{ department.department_name }}</h5>
                                </div>
                                <div class="card-body">
                                    <h5>
                                        HOD :
                                       {{hods}}

                                </h5>

                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                  <div class="card-body">
                                      <H5>Students :<i style="background:green;padding:4px;border-radius:19px;font-size:16px;margin-left:9px">54</i> </H5>
                                      <h5> Supervisor : <i style="background:green;color:white;padding:4px;border-radius:19px;font-size:16px;margin-left:9px">54</i> </h5>
                                      <h5> Projects <i style="background:green;color:#f0b46c;padding:4px;border-radius:19px;font-size:16px;margin-left:9px">54</i></h5>
                                  </div>
                              </div>
                              <a href="{% url 'dean_department_detail' department.pk %}"
                                  class="btn btn-info btn-sm" style="margin:2px 20px 2px 2px">
                                  View Detail</a>
                          </div>

                    </div>
                    <br>
                    {% endfor %}

                </div>
        </div>

{% endblock %}