{% extends 'bases/index.html' %}

{% block content %}
<div>
<div class="col">
    <div class="tab-content" id="nav-tabContent">

<!--        my department -->

        <div class="tab-pane fade show active" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
            <div class="card-deck mt-3 ml-3 mr-3">
                <div class="card ml-0 mr-0" style="max-width: 460px;">
                    <div class="card-body">
                        <h5 class="card-title text-align-centre">Project Organiser(PO)</h5>

                        <table class="table table-striped table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Departmet</th>
                                <th scope="col">HOD</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th scope="row" style="color:red">{{departments.department_name}}</th>
                                <td>
                                    <h5 class="card-title">
                                        {% for customs in custom %}
                                        {% if customs.role == 'hod' %}
                                        {{ customs.username.first_name }}
                                        {{ customs.username.last_name }}
                                        {% endif %}
                                        {% endfor %} </h5>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <br>
                            progress
                    </div>
                </div>

                <div class="card" style="max-width:fit-content">
                    <div class="card-body" style="max-width:fit-content">
                        <h5 class="card-title" style="max-width:fit-content">
                            <i style="color:red;margin-right:9px" class="fa fa-group"> </i>Projects</h5>
                        <br>
                        <hr>
                            {% for project in projects %}

                                <h6><a href="#" style="padding:0px;font-size:15px" class="btn btn-link">{{project.project_title}} </a>
                              </h6>
                            {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>

</div>

    {% endblock %}