{% extends 'bases/index.html' %}
{% load static %}
{% block content %}


<div class="row" style="margin:30px">
    <div class="col-sm-7 ml-4 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">This system is for only final year student </h5>
                <p class="card-text">The student who are in process of writting projects' book and projects'
                    implementations
                    they submit all of those on this platform like : books and the link of hosted systems
                    implementation.
                </p>
                <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate ea eum fuga illum iste magni molestias nemo porro quod, quos rem repellendus rerum. Autem doloremque ducimus eos itaque recusandae.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa dolor, iusto magnam modi nobis nulla quaerat veniam voluptatem? A autem corporis cupiditate doloremque ea eius natus nobis possimus ratione?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore ratione veniam! A ad aspernatur cum nesciunt nihil perspiciatis quaerat quidem quod reiciendis vero? Assumenda culpa deserunt harum sint ullam!
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate ea eum fuga illum iste magni molestias nemo porro quod, quos rem repellendus rerum. Autem doloremque ducimus eos itaque recusandae.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa dolor, iusto magnam modi nobis nulla quaerat veniam voluptatem? A autem corporis cupiditate doloremque ea eius natus nobis possimus ratione?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore ratione veniam! A ad aspernatur cum nesciunt nihil perspiciatis quaerat quidem quod reiciendis vero? Assumenda culpa deserunt harum sint ullam!
              </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis, distinctio dolorem eius magnam repudiandae ut voluptas! Autem debitis delectus ea est ex, ipsum itaque perspiciatis quos recusandae saepe tempore!
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <h3>{{ Project.project_name }}</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mr-4 mt-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Annoucements</h5>

            </div>
        </div>
    </div>
</div>

{% endblock %}

