{% extends 'bases/index.html' %}

{% load static %}
{% block content %}
  <div class="row justify-content-center mt-5" style="max-width:100%">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Update an Account</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'users/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}