{% extends 'bases/index.html' %}
{% load widget_tweaks %}
{% block content %}



<div class="col">
        <div class="card" style="margin-top:10px;">
          <div class="card-body">
                 <a href="{%  url 'assign_supervisor_to_group' %}">Assign Supervisor to Group </a>
        </div>
      </div>
    </div>


<div class="col-sm-4 mr-4 mt-3 mb-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Role Form</h5>
            
             <form method="post" novalidate>
              {% csrf_token %}
                {% include 'users/form.html' %}
                
                 <button type="submit" class="btn btn-success">Submit</button>
              </form>  
           
          </div>
        </div>
      </div>
    </div>

{% endblock %}