{% extends 'bases/index.html' %}
{% block content %}
     <div class="container" style="margin-top:40px">
        <form  method="POST">
          {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Project</legend>
                <h2> Are you sure you want to delete a project "<i style="color:#3e3e7f;">{{ object.project_title }}</i>"</h2>
            </fieldset>
            <div class="form-button">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'group-project-detail' object.id %}">Cancel</a>
            </div>
        </form>
     </div>
{% endblock content %}
